@model WebBanSach.Models.SACH

@{
    ViewBag.Title = "DetailBook";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THÔNG TIN CHI TIẾT SÁCH</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Masach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Masach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tensach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donvitinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donvitinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dongia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dongia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinhminhhoa)
        </dt>

        <dd>
            <img src="~/Images/@Model.Hinhminhhoa" alt="Image" style="width: 100px; height: auto;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaCD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaNXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaycapnhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaycapnhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluongban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.solanxem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.solanxem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Trở về", "ManageBook")
</p>
<style>
    /* Cải thiện bố cục chung */
    .dl-horizontal {
        width: 100%;
        margin: 0;
        padding: 0;
    }

        .dl-horizontal dt {
            font-weight: bold;
            width: 30%;
            display: inline-block;
            text-align: right;
            padding-right: 15px;
        }

        .dl-horizontal dd {
            display: inline-block;
            margin-bottom: 10px;
            width: 65%;
        }

        /* Căn chỉnh và tạo khoảng cách cho các phần tử */
        .dl-horizontal dt, .dl-horizontal dd {
            font-size: 16px;
        }

        .dl-horizontal dd {
            color: #555;
        }

    /* Đổi màu cho các liên kết */
    a {
        color: #007bff;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }

    /* Thêm khoảng cách và viền cho phần thông tin chi tiết */
    hr {
        border-top: 1px solid #ddd;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* Các liên kết chỉnh sửa và quay lại danh sách */
    p {
        text-align: center;
        font-size: 16px;
    }

    /* Đặt độ rộng cho thẻ `dl` */
    .dl-horizontal dt, .dl-horizontal dd {
        margin: 0;
    }

    /* Style cho chi tiết sách */
    h2 {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-top: 30px;
    }

    /* Các phần tử cụ thể trong thông tin sách */
    dd {
        line-height: 1.5;
    }

    dt {
        margin-bottom: 5px;
    }


</style>